<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/style.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>

<title>Crear Empleado</title>

<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="${session.ciaNombre}">Navbar</a>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active btn btn-primary btn-lg" th:href="@{/empleado}">Regresar</a>
            </li>
        </ul>

    </nav>
</div>

<div class="container-fluid">


    <form class="row" th:object="${empleado}"
          th:action="@{/empleado/crear}" method="POST"
          id="myForm"
    >

        <div class="form-group col-sm-12 col-md-2 col-lg-2">
            <label for="id" class="form-label">Id</label>
            <input type="text" name="" id="id" th:field="*{id}" class="form-control form-control-lg" readonly>
        </div>

        <div class="form-group col-sm-12 col-md-10 col-lg-10">
            <label for="identidad" class="form-label">identidad</label>
            <input type="text" name="" id="identidad" th:field="*{identidad}" class="form-control form-control-lg color-fondo "
                   onchange="cambioColor(this)"
                   th:required="true"
            >
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="nombreCompleto" class="form-label">nombreCompleto</label>
            <input type="text" name="" id="nombreCompleto" th:field="*{nombreCompleto}" class="form-control form-control-lg color-fondo "
                   onchange="cambioColor(this)"
                   th:required="true"
            >
        </div>


        <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <label for="departamentoId" class="form-label">departamentoId</label>
<!--            <input type="text" name="" id="departamentoId" th:field="*{departamentoId}" class="form-control form-control-lg color-fondo ">-->
            <select th:field="*{departamentoId}" class="form-control color-fondo form-control-lg" name=""
                    id="departamentoId" th:required="true" onchange="cambioColor(this)">

                <option value="">Seleccione un departamento</option>
                <option th:each="option : ${departamentos}" th:value="${option.id}"
                        th:text="${option.nombre}"></option>
            </select>
        </div>


        <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <label for="puestoId" class="form-label">puestoId</label>
<!--            <input type="text" name="" id="puestoId" th:field="*{puestoId}" class="form-control form-control-lg color-fondo ">-->
            <select th:field="*{puestoId}" class="form-control color-fondo form-control-lg" name=""
                    id="puestoId"
                    th:required="true"
                    onchange="cambioColor(this)"
            >

                <option value="">Seleccione un puesto</option>
                <option th:each="option : ${puestos}" th:value="${option.id}"
                        th:text="${option.nombre}"></option>
            </select>

        </div>

        <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <label for="sueldoMensual" class="form-label">sueldoMensual</label>
            <input type="text" name="" id="sueldoMensual" th:field="*{sueldoMensual}" class="form-control form-control-lg color-fondo "
                   th:required="true"
                   onchange="cambioColor(this)"
            >
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label for="fechaContratacion" class="form-label">fechaContratacion</label>
            <input type="date" name="" id="fechaContratacion" th:field="*{fechaContratacion}"
                   class="form-control form-control-lg color-fondo "
                   th:required="true"
                   onchange="cambioColor(this)"
            >
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="obs" class="form-label">obs</label>
            <input type="text" name="" id="obs" th:field="*{obs}"
                   class="form-control form-control-lg color-fondo "
                   onchange="cambioColor(this)"
            >
        </div>

        <div class="col-12">
            <button type="submit"
                    class="btn btn-success btn-lg mr-1"
            >Guardar
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-floppy" viewBox="0 0 16 16">
                    <path d="M11 2H9v3h2z"/>
                    <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                </svg>
            </button>
        </div>


    </form>

</div>


<script type="text/javascript">


    function cambioColor(este) {
         este.style.backgroundColor = "#fcba03";
    }

    document.getElementById("myForm").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
            }
    });


</script>

</body>

</html>